<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.indihx.PmSaleGroupInfo.dao.PmSaleGroupInfoMapper">

	<!-- 可根据自己的需求，是否要使用 -->
	<resultMap
		type="com.indihx.PmSaleGroupInfo.entity.PmSaleGroupInfoEntity"
		id="pmSaleGroupInfoMap">
		<result property="groupId" column="GROUP_ID" />
		<result property="groupName" column="GROUP_NAME" />
		<result property="ownerOrgId" column="OWNER_ORG_ID" />
		<result property="remark" column="REMARK" />
		<result property="creatorId" column="CREATOR_ID" />
		<result property="createTime" column="CREATE_TIME" />
		<result property="modifier" column="MODIFIER" />
		<result property="modifyTime" column="MODIFY_TIME" />
		<result property="isDelete" column="IS_DELETE" />
	</resultMap>

	<select id="queryObject" resultMap="pmSaleGroupInfoMap">
		select * from
		pm_sale_group_info where GROUP_ID = #{value}
	</select>

	<select id="queryList" resultMap="pmSaleGroupInfoMap">
		select
		*
		from pm_sale_group_info
		<trim prefix="WHERE" prefixOverrides="AND|OR"
			suffixOverrides="AND|OR">
			<if test="groupId != null and groupId!=''">
				GROUP_ID = #{groupId}
				AND
			</if>
			<if test="groupName != null and groupName!=''">
				GROUP_NAME =
				#{groupName} AND
			</if>
			<if test="ownerOrgId != null and ownerOrgId!=''">
				OWNER_ORG_ID =
				#{ownerOrgId} AND
			</if>
			<if test="remark != null and remark!=''">
				REMARK = #{remark} AND
			</if>
			<if test="creatorId != null and creatorId!=''">
				CREATOR_ID =
				#{creatorId} AND
			</if>
			<!-- 开始时间 -->
			<if test="createTime != null and createTime!=''">
				CREATE_TIME <![CDATA[>=]]>
				#{createTimeStart} AND
			</if>
			<!-- 结束时间 -->
			<if test="createTime != null and createTime!=''">
				CREATE_TIME <![CDATA[<=]]>
				#{createTimeEnd} AND
			</if>
			<if test="modifier != null and modifier!=''">
				MODIFIER =
				#{modifier} AND
			</if>
			<!-- 开始时间 -->
			<if test="modifyTime != null and modifyTime!=''">
				MODIFY_TIME <![CDATA[>=]]>
				#{modifyTimeStart} AND
			</if>
			<!-- 结束时间 -->
			<if test="modifyTime != null and modifyTime!=''">
				MODIFY_TIME <![CDATA[<=]]>
				#{modifyTimeEnd} AND
			</if>
			<if test="isDelete != null and isDelete!=''">
				IS_DELETE =
				#{isDelete}
			</if>
		</trim>
	</select>

	<select id="queryTotal" resultType="int">
		select count(*) from
		pm_sale_group_info
	</select>

	<insert id="insert"
		parameterType="com.indihx.PmSaleGroupInfo.entity.PmSaleGroupInfoEntity">
		insert into pm_sale_group_info
		(
		GROUP_ID
		<if test="groupName != null and groupName!=''">
			,GROUP_NAME
		</if>
		<if test="ownerOrgId != null and ownerOrgId!=''">
			,OWNER_ORG_ID
		</if>
		<if test="remark != null and remark!=''">
			,REMARK
		</if>
		<if test="creatorId != null and creatorId!=''">
			,CREATOR_ID
		</if>
		<if test="createTime != null and createTime!=''">
			,CREATE_TIME
		</if>
		<if test="modifier != null and modifier!=''">
			,MODIFIER
		</if>
		<if test="modifyTime != null and modifyTime!=''">
			,MODIFY_TIME
		</if>
			,IS_DELETE
		)
		values
		(
		PmSaleGroupInfo_SEQ.nextval
		<if test="groupName != null and groupName!=''">
			,#{groupName}
		</if>
		<if test="ownerOrgId != null and ownerOrgId!=''">
			,#{ownerOrgId}
		</if>
		<if test="remark != null and remark!=''">
			,#{remark}
		</if>
		<if test="creatorId != null and creatorId!=''">
			,#{creatorId}
		</if>
		<if test="createTime != null and createTime!=''">
			,#{createTime}
		</if>
		<if test="modifier != null and modifier!=''">
			,#{modifier}
		</if>
		<if test="modifyTime != null and modifyTime!=''">
			,#{modifyTime}
		</if>
			,'00'
		)
	</insert>

	<update id="update"
		parameterType="com.indihx.PmSaleGroupInfo.entity.PmSaleGroupInfoEntity">
		update pm_sale_group_info
		<set>
			<if test="groupName != null and groupName!=''">GROUP_NAME = #{groupName}, </if>
			<if test="ownerOrgId != null and ownerOrgId!=''">OWNER_ORG_ID = #{ownerOrgId}, </if>
			<if test="remark != null and remark!=''">REMARK = #{remark}, </if>
			<if test="creatorId != null and creatorId!=''">CREATOR_ID = #{creatorId}, </if>
			<if test="createTime != null and createTime!=''">CREATE_TIME = #{createTime}, </if>
			<if test="modifier != null and modifier!=''">MODIFIER = #{modifier}, </if>
			<if test="modifyTime != null and modifyTime!=''">MODIFY_TIME = #{modifyTime}, </if>
			<if test="isDelete != null and isDelete!=''">IS_DELETE = #{isDelete}</if>
		</set>
		where GROUP_ID = #{groupId}
	</update>

	<delete id="delete">
		delete from pm_sale_group_info where GROUP_ID =
		#{value}
	</delete>



</mapper>