<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.indihx.system.dao.CostInfoMapper">
  <!-- 支持缓存配置(必须配置否则缓存无效) -->
  <cache type="com.indihx.cache.RedisCache" />
  <resultMap id="BaseResultMap" type="com.indihx.system.entity.CostInfo">
    <result column="COST_ID" property="costId" />
    <result column="ORG_ID" property="orgId" />
  </resultMap>

  <select id="queryCostInfoListByOrgId" resultMap="BaseResultMap" >
  	select a.*,b.org_name
    from cost_info a 
    left join org_info b on a.org_id =b.org_no
  	 <where>
  		<if test="orgId != null and orgId !=0 ">
  			 a.org_id = #{orgId}
  		</if>
  		
  	</where> 
  		
  </select>
 
</mapper>