<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.indihx.system.dao.ProfitInfoMapper">
  <!-- 支持缓存配置(必须配置否则缓存无效) -->
  <!--   <cache type="com.indihx.cache.RedisCache" /> -->
  <resultMap id="BaseResultMap" type="com.indihx.system.entity.ProfitInfo">
    <result column="PROFIT_ID" property="profitId" />
    <result column="ORG_ID" property="orgId" />
    <result column="ORG_NAME" property="orgName" />
     <result column="IS_DELETE" property="isDelete" />
  </resultMap>

  <select id="queryListAll" resultMap="BaseResultMap" >
  	select a.*,b.org_name
    from profit_info a 
    left join org_info b on a.org_id =b.org_no
  	 <where>
  		<if test="orgId != null and orgId !=0 ">
  			 a.org_id = #{orgId}
  		</if>
  		<if test="profitId != null and profitId !=0 ">
  			 a.profit_id = #{profitId}
  		</if>
  		<if test="orgName != null and orgName !=0 ">
  			 a.org_name = #{orgName}
  		</if>
  		<if test="isDelete != null and isDelete !='' ">
  			 a.IS_DELETE = #{isDelete}
  		</if>
  	</where> 
  		
  </select>

  <select id="queryProfitInfoByOrgId" resultMap="BaseResultMap" >
  	select a.*,b.org_name
    from profit_info a 
    left join org_info b on a.org_id =b.org_no
  	 <where>
  		<if test="orgId != null and orgId !=0 ">
  			 a.org_id =#{orgId}
  		</if>
  		<if test="isDelete != null and isDelete !='' ">
  			 a.IS_DELETE = #{isDelete}
  		</if>
  	</where> 
  </select>
  
  
  <select id="queryProfitInfoByProfitId" resultMap="BaseResultMap" >
  	select a.*,b.org_name
    from profit_info a 
    left join org_info b on a.org_id =b.org_no
  	 <where>
  		<if test="profitId != null and profitId !=0 ">
  			 a.profit_id =#{profitId}
  		</if>
  		<if test="isDelete != null and isDelete !='' ">
  			 a.IS_DELETE = #{isDelete}
  		</if>
  	</where> 
  </select>
  
  
  
  
   <insert id="addProfitInfo" parameterType="com.indihx.system.entity.ProfitInfo">
		insert into profit_info
		(
		
		<if test="profitId != null and  profitId !=''" >
			PROFIT_ID
		</if>
		<if test="orgId != null and orgId  !=''">
			,ORG_ID	
		</if>
		,IS_DELETE	
		
		)
		values
		(
		
		<if test="profitId != null and  profitId !=''">
			#{profitId}		</if>
		<if test="orgId != null and  orgId !=''">
			,#{orgId}		</if>
			,'0'
		
		)
		
	</insert>
	
	
	<update id="updateProfitInfo" parameterType="com.indihx.system.entity.ProfitInfo">
		update profit_info 
		<set>
			<if test="profitId != null and profitId  !=''">PROFIT_ID = #{profitId}, </if>
			<if test="orgId != null and orgId  !=''">ORG_ID = #{orgId} </if>
			<if test="isDelete != null and isDelete  !=''">IS_DELETE = #{isDelete} </if>
		</set>
		where  COST_ID= #{costId}
	</update>
  
  
  
  
  
  
  
  
  
</mapper>