<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.indihx.system.dao.RoleMenuInfoMapper">
<!-- 支持缓存配置(必须配置否则缓存无效) -->
<cache type="com.indihx.cache.RedisCache" />
<resultMap type="com.indihx.system.entity.RoleMenuInfo" id="BaseResultMap">
<id column="ROLE_ID" jdbcType="DECIMAL" property="roleId"/>
<result column="MENU_ID" jdbcType="DECIMAL" property="menuId"/>
<result column="TM_SMP" jdbcType="VARCHAR" property="tmSmp"/>
</resultMap>
 <sql id="Base_Column_List">
    ROLE_ID, MENU_ID, TM_SMP
  </sql>
   <insert id="insertSelective" parameterType="com.indihx.system.entity.RoleInfo">
      insert into role_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        ROLE_ID,
      </if>
      <if test="menuId != null">
        MENU_ID,
      </if>
      <if test="tmSmp != null">
        TM_SMP,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        #{roleId,jdbcType=DECIMAL},
      </if>
      <if test="menuId != null">
        #{menuId,jdbcType=DECIMAL},
      </if>
      <if test="tmSmp != null">
        #{tmSmp,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
   <select id="qryRoleMenuInfoInfoAll" resultMap="BaseResultMap">
  		select * from role_menu where 1=1
  		<if test="roleId != null and roleId !=''">
  			and ROLE_ID=#{roleId,jdbcType=DECIMAL}
  		</if>
  		<if test="menuId and menuId !=''">
  			and MENU_ID=#{menuId,jdbcType=DECIMAL}
  		</if>
  </select>
   
   <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from role_menu
    where MENU_ID = #{menuId,jdbcType=DECIMAL}
  </select>
   <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from role_menu
     where ROLE_ID = #{roleId,jdbcType=DECIMAL}
  </delete>
</mapper>