<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.indihx.system.dao.UsrRoleMapper">
  <!-- 支持缓存配置(必须配置否则缓存无效) -->
  <cache type="com.indihx.cache.RedisCache" />
  <resultMap id="BaseResultMap" type="com.indihx.system.entity.UsrRole">
    <id column="USR_ID" jdbcType="DECIMAL" property="usrId" />
    <id column="ROLE_ID" jdbcType="DECIMAL" property="roleId" />
    <result column="TM_SMP" jdbcType="VARCHAR" property="tmSmp" />
  </resultMap>
  <sql id="Base_Column_List">
    USR_ID, ROLE_ID, TM_SMP
  </sql>
  
  <!-- 查询 -->
  <select id="selectByPrimaryKey" parameterType="com.indihx.system.entity.UsrRoleKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from USR_ROLE
    where  1=1
      <if test="usrId != null and usrId !=''">
   	  	and USR_ID = #{usrId,jdbcType=DECIMAL}
   	  </if>
   	  <if test="roleId != null and roleId !=''">
      	and ROLE_ID = #{roleId,jdbcType=DECIMAL}
      </if>
  </select>
  
  <!-- 清除用户当前角色 -->
  <delete id="deleteByPrimaryKey" parameterType="com.indihx.system.entity.UsrRoleKey">
    delete from USR_ROLE
    where 
      USR_ID = #{usrId,jdbcType=DECIMAL}
  </delete>
  
  <!-- 新增角色 -->
  <insert id="insertSelective" parameterType="com.indihx.system.entity.UsrRole">
    insert into USR_ROLE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="usrId != null">
        USR_ID,
      </if>
      <if test="roleId != null">
        ROLE_ID,
      </if>
      <if test="tmSmp != null">
        TM_SMP,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="usrId != null">
        #{usrId,jdbcType=DECIMAL},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=DECIMAL},
      </if>
      <if test="tmSmp != null">
        #{tmSmp,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

</mapper>