<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.indihx.PmReviewInfo.dao.PmReviewInfoMapper">

	<!-- 可根据自己的需求，是否要使用 -->
	<resultMap
		type="com.indihx.PmReviewInfo.entity.PmReviewInfoEntity"
		id="pmReviewInfoMap">
		<result property="reviewId" column="REVIEW_ID" />
		<result property="foreignId" column="FOREIGN_ID" />
		<result property="foreignCode" column="FOREIGN_CODE" />
		<result property="reviewType" column="REVIEW_TYPE" />
		<result property="reviewUserName" column="REVIEW_USER_NAME" />
		<result property="reviewUserCode" column="REVIEW_USER_CODE" />
		<result property="result" column="RESULT" />
		<result property="isDelete" column="IS_DELETE" />
		<result property="commentDetail" column="COMMENT_DETAIL" />
		<result property="modifyTime" column="MODIFY_TIME" />
		
	</resultMap>

	<resultMap type="java.util.Map" id="reviewMap">
		<result property="reviewId" column="REVIEW_ID" />
		<result property="foreignId" column="FOREIGN_ID" />
		<result property="foreignCode" column="FOREIGN_CODE" />
		<result property="reviewType" column="REVIEW_TYPE" />
		<result property="reviewUserName" column="REVIEW_USER_NAME" />
		<result property="reviewUserCode" column="REVIEW_USER_CODE" />
		<result property="result" column="RESULT" />
		<result property="isDelete" column="IS_DELETE" />
		<result property="bidId" column="BID_ID" />
		<result property="bidName" column="BID_NAME" />
		<result property="firstBidAmount" column="FIRST_BID_AMOUNT" />
		<result property="predictAmount" column="PREDICT_AMOUNT" />
		<result property="predictCost" column="PREDICT_COST" />
		<result property="predictProfitRate"
			column="PREDICT_PROFIT_RATE" />
		<result property="predictPeriodStart"
			column="PREDICT_PERIOD_START" />
		<result property="predictPeriodEnd" column="PREDICT_PERIOD_END" />
		<result property="custId" column="CUST_ID" />
		<result property="custCnName" column="CUST_CN_NAME" />
		<result property="custSapCode" column="CUST_SAP_CODE" />
		<result property="constructionDeptId"
			column="CONSTRUCTION_DEPT_ID" />
		<result property="constructionDeptName"
			column="CONSTRUCTION_DEPT_NAME" />
		<result property="sellDeptId" column="SELL_DEPT_ID" />
		<result property="sellDeptName" column="SELL_DEPT_NAME" />
		<result property="custManagerId" column="CUST_MANAGER_ID" />
		<result property="custManagerName" column="CUST_MANAGER_NAME" />
		<result property="technicalDirectorId"
			column="TECHNICAL_DIRECTOR_ID" />
		<result property="technicalDirectorName"
			column="TECHNICAL_DIRECTOR_NAME" />
		<result property="sellDeptManagerName"
			column="SELL_DEPT_MANAGER_NAME" />
		<result property="sellDeptManagerId"
			column="SELL_DEPT_MANAGER_ID" />
		<result property="constructionDeptManagerName"
			column="CONSTRUCTION_DEPT_MANAGER_NAME" />
		<result property="constructionDeptManagerId"
			column="CONSTRUCTION_DEPT_MANAGER_ID" />
		<result property="status" column="STATUS" />
		<result property="isWorkAreaExplicit"
			column="IS_WORK_AREA_EXPLICIT" />
		<result property="isChecked" column="IS_CHECKED" />
		<result property="remark" column="REMARK" />
		<result property="paymentPoint" column="PAYMENT_POINT" />
		 <result property="createTime" column="CREATE_TIME"/>
		  <result property="modifyTime" column="MODIFY_TIME"/>
		   <result property="bidCode" column="BID_CODE"/>
		  
	</resultMap>
	<select id="queryObject" resultMap="pmReviewInfoMap">
		select * from pm_review_info
		where REVIEW_ID = #{value}
	</select>

	<select id="queryList" resultMap="pmReviewInfoMap">
		select
		*
		from pm_review_info
		<trim prefix="WHERE" prefixOverrides="AND|OR"
			suffixOverrides="AND|OR">
			<if test="reviewId != null and reviewId!=''">
				REVIEW_ID =
				#{reviewId} AND
			</if>
			<if test="foreignId != null and foreignId!=''">
				FOREIGN_ID =
				#{foreignId} AND
			</if>
			<if test="foreignCode != null and foreignCode!=''">
				FOREIGN_CODE =
				#{foreignCode} AND
			</if>
			<if test="reviewType != null and reviewType!=''">
				REVIEW_TYPE =
				#{reviewType} AND
			</if>
			<if test="reviewUserName != null and reviewUserName!=''">
				REVIEW_USER_NAME = #{reviewUserName} AND
			</if>
			<if test="reviewUserCode != null and reviewUserCode!=''">
				REVIEW_USER_CODE = #{reviewUserCode} AND
			</if>
			<if test="result != null and result!=''">
				RESULT = #{result} AND
			</if>
			<if test="isDelete != null and isDelete!=''">
				IS_DELETE =
				#{isDelete}
			</if>
			<if test="createTimeStart != null and createTimeStart!=''">
				CREATE_TIME <![CDATA[>=]]> #{createTimeStart} AND
			</if>
			<!-- 结束时间 -->
			<if test="createTimeEnd != null  and createTimeEnd!=''">
				CREATE_TIME <![CDATA[<=]]> #{createTimeEnd} AND
			</if>
			<if test="modifyTime != null and modifyTime!=''"  >
				MODIFY_TIME = #{modifyTime} AND 			</if>
		</trim>
	</select>

	<select id="queryTotal" resultType="int">
		select count(*) from
		pm_review_info
	</select>

	<insert id="insert"
		parameterType="com.indihx.PmReviewInfo.entity.PmReviewInfoEntity">
		insert into pm_review_info
		(
		REVIEW_ID
		<if test="foreignId != null and foreignId!=''">
			,FOREIGN_ID
		</if>
		<if test="foreignCode != null and foreignCode!=''">
			,FOREIGN_CODE
		</if>
		<if test="reviewType != null and reviewType!=''">
			,REVIEW_TYPE
		</if>
		<if test="reviewUserName != null and reviewUserName!=''">
			,REVIEW_USER_NAME
		</if>
		<if test="reviewUserCode != null and reviewUserCode!=''">
			,REVIEW_USER_CODE
		</if>
		<if test="result != null and result!=''">
			,RESULT
		</if>
		<if test="createTime != null and createTime!=''">
				,CREATE_TIME	
		</if>
		<if test="commentDetail != null and commentDetail!=''">
				,COMMENT_DETAIL	
		</if>
		<if test="modifyTime != null and modifyTime!=''">
				,MODIFY_TIME	
		</if>
		,IS_DELETE
		)
		values
		(
		PmReviewInfo_SEQ.nextval
		<if test="foreignId != null and foreignId!=''">
			,#{foreignId}
		</if>
		<if test="foreignCode != null and foreignCode!=''">
			,#{foreignCode}
		</if>
		<if test="reviewType != null and reviewType!=''">
			,#{reviewType}
		</if>
		<if test="reviewUserName != null and reviewUserName!=''">
			,#{reviewUserName}
		</if>
		<if test="reviewUserCode != null and reviewUserCode!=''">
			,#{reviewUserCode}
		</if>
		<if test="result != null and result!=''">
			,#{result}
		</if>
		<if test="createTime != null and createTime!=''">
			,#{createTime}
		</if>
		<if test="commentDetail != null and commentDetail!=''">
			,#{commentDetail}
		</if>
		<if test="modifyTime != null and modifyTime!=''">
			,#{modifyTime}
		</if>
		,'00'
		)
	</insert>

	<update id="update" parameterType="com.indihx.PmReviewInfo.entity.PmReviewInfoEntity">
		update pm_review_info
		<set>
			<if test="foreignId != null and foreignId!=''">FOREIGN_ID = #{foreignId}, </if>

			<if test="foreignCode != null and foreignCode!=''">FOREIGN_CODE = #{foreignCode}, </if>

			<if test="reviewType != null and reviewType!=''">REVIEW_TYPE = #{reviewType}, </if>

			<if test="reviewUserName != null and reviewUserName!=''">REVIEW_USER_NAME = #{reviewUserName}, </if>

			<if test="reviewUserCode != null and reviewUserCode!=''">REVIEW_USER_CODE = #{reviewUserCode}, </if>

			<if test="result != null and result!=''">RESULT = #{result}, </if>

			<if test="isDelete != null and isDelete!=''">IS_DELETE = #{isDelete},</if>
			<if test="commentDetail != null and commentDetail!=''">COMMENT_DETAIL = #{commentDetail},</if>
			<if test="modifyTime != null and modifyTime!=''">MODIFY_TIME = #{modifyTime}, </if>
		</set>
		where REVIEW_ID = #{reviewId}
	</update>

	<delete id="delete">
		delete from pm_review_info where REVIEW_ID = #{value}
	</delete>

	<update id="updateIsDelete"
		parameterType="com.indihx.PmReviewInfo.entity.PmReviewInfoEntity">
		update pm_review_info
		set IS_DELETE = '01'
		where
		<if test="foreignId != null and foreignId!=''">FOREIGN_ID = #{foreignId}</if>
		<if test="foreignCode != null and foreignCode!=''">FOREIGN_CODE = #{foreignCode}</if>
		and REVIEW_TYPE=#{reviewType}
	</update>



	<select id="selectBidReview" resultMap="reviewMap">
		SELECT 
			B.BID_ID,
			B.BID_NAME,
			B.FIRST_BID_AMOUNT,
			B.PREDICT_AMOUNT,
			B.PREDICT_COST,
			B.PREDICT_PROFIT_RATE,
			B.PREDICT_PERIOD_START,
			B.PREDICT_PERIOD_END,
			B.CUST_ID,
			B.CUST_CN_NAME,
			B.CUST_SAP_CODE,
			B.CONSTRUCTION_DEPT_ID,
			B.CONSTRUCTION_DEPT_NAME,
			B.SELL_DEPT_ID,
			B.SELL_DEPT_NAME,
			B.CUST_MANAGER_ID,
			B.CUST_MANAGER_NAME,
			B.TECHNICAL_DIRECTOR_ID,
			B.TECHNICAL_DIRECTOR_NAME,
			B.SELL_DEPT_MANAGER_NAME,
			B.SELL_DEPT_MANAGER_ID,
			B.CONSTRUCTION_DEPT_MANAGER_NAME,
			B.CONSTRUCTION_DEPT_MANAGER_ID,
			B.STATUS,
			B.IS_WORK_AREA_EXPLICIT,
			B.IS_CHECKED,
			B.BID_CODE
		FROM
		PM_REVIEW_INFO A
		LEFT JOIN
		PM_CONFIRM_BID B
		ON A.FOREIGN_ID=B.BID_ID
		WHERE
		A.IS_DELETE='00'
		AND
		A.REVIEW_USER_CODE=#{reviewUserCode}
		AND
		A.REVIEW_TYPE=#{reviewType}
	</select>
</mapper>