@charset "utf-8";
/* css for  datagrid*/

.datagrid_gridtb,.datagrid_gridtb table.fixhead_headtb,.datagrid_gridtb table.fixhead_bodytb
	{
	font-family: "??", "Arial", "Times New Roman";
	font-size: 11px;
	border-collapse:collapse;
	border: 0px solid #9BB3D3;
	display:block;
	clear:both;
	
	}
.datagrid_gridtb  .gridheadclass
	{
	font-size:12px;font-weight:bold;font-family:tahoma;color:#FFFFFF;
	background: #fafafa url(../images/grid/dgbg.gif) ;
	border: 1px solid #9BB3D3;
	overflow: hidden;
	height: 28px;
	cursor: default;
	text-align: center;
	
	}
.datagrid_gridtb  .gridheadclass2 {font-size:12px;font-weight: bold;font-family:tahoma;color:#FFFFFF;background-color:#CC9900;text-align:center;line-height:24px;padding-left:2px;padding-right:2px;}
	
.datagrid_gridtb  .nohead tr th
	{
	border: 1px solid #9BB3D3;
	overflow: hidden;
	height: 24px;
	
	}		
.datagrid_gridtb tbody tr td
	{
		border: 1px solid #9BB3D3;
		height: 24px;
	}	
.datagrid_gridtb tbody  tr.erow
	{
	background: #FFFFFF;
	border: 1px solid #9BB3D3;
	font-size: 11px;
	height: 24px;
	}
.datagrid_gridtb tbody  tr.orow
	{
	background: #DBE2E7;
	border: 1px solid #9BB3D3;
	font-size: 11px;
	height: 24px;
	}

.datagrid_gridtb tbody tr.trSelected 
	{
	background: #F37A03 !important;
	border-right: 1px solid #d2e3ec;
	border-left: 1px solid #eef8ff;
	border-bottom: 1px solid #a8d8eb;
	
	}
.datagrid_gridtb .bdiv
{
	border-bottom: 1px solid #9BB3D3;

}
/**-for sortable filterable--------------------*/

.datagrid_gridtb div.filters {
	background: #6281B6 url(../images/grid/line.gif) repeat-y -1px top;
	border: 1px solid #9BB3D3;
 	overflow: auto;
	left: 0px;
	position: absolute;
	z-index: 999;
	float: left;
}

.datagrid_gridtb div.filters div.filtertb {
	margin: 2px;
}
 
.datagrid_gridtb div.filters div.filtertb>div {
	border: 1px solid #9BB3D3;
	cursor: default;
	height:20px;
}

.datagrid_gridtb div.filters div.filtertb div.afilter:hover div {
	background: #F37A03 ;
	border: 1px solid #a8d8eb;
}
.datagrid_gridtb div.filters div.filtertb  div div.divkey
{  
	float:left;
}

.datagrid_gridtb div.filters div.filtertb div div.divval
{ 	 
		float:left;		
}


.datagrid_gridtb div.filterdiv {
	position: absolute;
	height: 24px;
	width: 14px;
	z-index: 900;
	background: url(../images/grid/dgbg.gif)  ;
	border: 1px solid #9BB3D3;
	border-right: 1px solid #9BB3D3;
	top: 0px;
	left: 0px;
	margin-top: 1px;
	cursor: pointer;
}

.datagrid_gridtb  div.filterdiv div {
	height: 24px;
	width: 12px;
	float: left;
	background: url(../images/grid/ddn.png) no-repeat center;
}
.datagrid_gridtb th.gridheadclass.sorted {

}
.datagrid_gridtb th.gridheadclass {
}
.datagrid_gridtb th.gridheadclass.thOver {
	
}
.datagrid_gridtb th.gridheadclass.thOver div.sortby
	{
	border-bottom: 1px solid orange;
	padding-bottom: 5px;
}
.datagrid_gridtb th.gridheadclass.sorted div.sortby {
	border-bottom: 1px solid orange;
	padding-bottom: 5px;
	margin-bottom: 0px;

}

.datagrid_gridtb th.gridheadclass div.sdesc {
	background: url(../images/grid/dn.png) no-repeat center top;
	position:absolute;
	margin-bottom: 0px;

}
.datagrid_gridtb th.gridheadclass div.sasc {
	background: url(../images/grid/up.png) no-repeat center top;
	position:absolute;
	margin-bottom: 0px;	
}

/**---------------------*/
.cleanfloat
{clear:both;
}
.gridPaginate_navigator{
	font-size: 12px;
	font-weight:bold;
}
/*css for PicButton */

button.web-ui-btn {cursor:pointer; border:none;background:none;padding:0;margin:0;width:auto;overflow:visible;text-align:center;
	 white-space:nowrap;height:25px;line-height:25px;}
button.web-ui-btn div.pic-l, button.web-ui-btn span.pic-r
 {  text-decoration:none;display:block;height:21px;  line-height:22px;margin:0;}
.web-ui-btn .btn_pic {
	 background:url(../images/btn.gif) no-repeat;  
}
.btn_pic.pic-l{padding-left:7px; left 0;} 
.btn_pic.pic-r{color:#fff;font-style:normal;padding-right:13px; background-position:100% 0;}
.btn_pic.pic-l-o{padding-left:7px; background-position: left -21px;} 
.btn_pic.pic-r-o{ color:#fff;  font-style:normal;padding-right:13px; background-position: 100% -21px;}
.btn_pic.pic-l-a{padding-left:7px; background-position: left -42px;} 
.btn_pic.pic-r-a{ color:#fff;  font-style:normal;padding-right:13px;  background-position: 100% -42px;}
button.web-ui-btn:focus{border-style:solid;border-width:1px;border-color:red;}
.btn_pic.pic-r span.btn_icon{
	line-height:0; margin-bottom:5px;padding:0px; width:16px; height:16px; display: inline-block; vertical-align:middle;
	border:0 none; cursor: pointer;outline:none;background-color:transparent; background-repeat:no-repeat;
	background-image:url("../images/icons.png");  }
.btn_icon_def  {background-position: -288px -0px; width: 16px; height: 16px; }
.icon_add1			  {background-position: -0px -0px; width: 16px; height: 16px; }       
.icon_del1        {background-position: -16px -0px; width: 16px; height: 16px; }      
.icon_add2        {background-position: -32px -0px; width: 16px; height: 16px; }      
.icon_del2        {background-position: -48px -0px; width: 16px; height: 16px; }      
.icon_edit1       {background-position: -64px -0px; width: 16px; height: 16px; }      
.icon_edit2       {background-position: -80px -0px; width: 16px; height: 16px; }      
.icon_search      {background-position: -96px -0px; width: 16px; height: 16px; }      
.icon_info        {background-position: -112px -0px; width: 16px; height: 16px; }     
.icon_cancel      {background-position: -128px -0px; width: 16px; height: 16px; }     
.icon_ok          {background-position: -144px -0px; width: 16px; height: 16px; }     
.icon_save1       {background-position: -160px -0px; width: 16px; height: 16px; }     
.icon_save2       {background-position: -176px -0px; width: 16px; height: 16px; }     
.icon_browser     {background-position: -192px -0px; width: 16px; height: 16px; }     
.icon_next        {background-position: -208px -0px; width: 16px; height: 16px; }     
.icon_down2       {background-position: -224px -0px; width: 16px; height: 16px; }     
.icon_up2         {background-position: -240px -0px; width: 16px; height: 16px; }     
.icon_down        {background-position: -256px -0px; width: 16px; height: 16px; }     
.icon_up1         {background-position: -272px -0px; width: 16px; height: 16px; }     
.icon_run1        {background-position: -288px -0px; width: 16px; height: 16px; }     
.icon_run2        {background-position: -304px -0px; width: 16px; height: 16px; }     
.icon_close       {background-position: -320px -0px; width: 16px; height: 16px; }     
.icon_close       {background-position: -336px -0px; width: 16px; height: 16px; }     
.icon_redo        {background-position: -352px -0px; width: 16px; height: 16px; }     
.icon_undo        {background-position: -368px -0px; width: 16px; height: 16px; }     
.icon_print       {background-position: -384px -0px; width: 16px; height: 16px; }     
.icon_back        {background-position: -0px -16px; width: 16px; height: 16px; }      
.icon_cut         {background-position: -16px -16px; width: 16px; height: 16px; }     
.icon_help        {background-position: -32px -16px; width: 16px; height: 16px; }     
.icon_reload      {background-position: -48px -16px; width: 16px; height: 16px; }     
.icon_set         {background-position: -64px -16px; width: 16px; height: 16px; }     
.icon_set2        {background-position: -80px -16px; width: 16px; height: 16px; }     
.icon_excel       {background-position: -96px -16px; width: 16px; height: 16px; }     
.icon_sum         {background-position: -112px -16px; width: 16px; height: 16px; }    
.icon_view        {background-position: -128px -16px; width: 16px; height: 16px; }    
.icon_up2         {background-position: -144px -16px; width: 16px; height: 16px; }    
.icon_pic         {background-position: -160px -16px; width: 16px; height: 16px; }    
.icon_tip         {background-position: -176px -16px; width: 16px; height: 16px; }    
.icon_warning     {background-position: -192px -16px; width: 16px; height: 16px; }    


.web-ui-btn_toolbar {height:24px;margin:3px 5px 5px 5px;padding:0 0 0 0;}
.web-ui-btn_toolbar .btn_condition {display:none;}
/**css for mask*/
.ui-mask {
    z-index: 100;
    position: absolute;
    top:0;
    left:0;
    -moz-opacity: 0.5;
    opacity: .50;
    filter: alpha(opacity=50);
    background-color: #CCC;
    width: 100%;
    height: 100%;
    zoom: 1;
}
.ui-mask-msg {
    z-index: 20001;
    position: absolute;
    top: 0;
    left: 0;
    border:1px solid #6593cf;
    background: #c3daf9;
    padding:2px;
}
.ui-mask-msg div {
    padding:5px 10px 5px 25px;
    background: #fbfbfb url('../images/loading.gif') no-repeat 5px 5px;
    line-height: 16px;
		border:1px solid #a3bad9;
    color:red;
    font:normal 15px tahoma, arial, helvetica, sans-serif;
    cursor:wait;
}
.cssmasked {
    /*overflow: hidden !important;*/
}
.masked-relative {
    position: relative !important;
}
.masked-absolute {
    position: absolute !important;
}
.masked-hidden {
    visibility: hidden !important;
}
/*css for multi-accordion*/

.multi-accordion-padding1{ padding-left: 2px;}
.multi-accordion-padding2{ padding-left: 10px;}
.multi-accordion-padding3{ padding-left: 25px;}
.multi-accordion .multi-accordion-head1 {height:auto;  line-height:25px; cursor: pointer;overflow:hidden;   margin:1px 0px 1px 0px; font-size:12px;font-family:tahoma;color:#FFFFFF; background-image: url('../images/accord/menu_bg_pic.gif');}
.multi-accordion .multi-accordion-head1 a { font-size: 1em;font-family:tahoma;color:#FFFFFF; }
.multi-accordion .multi-accordion-head2 { cursor: pointer;margin:1px 0px 1px 0px;font-size:12px;font-family:tahoma;color:#FFFFFF; solid #737573;background-color:#CC9900;}
.multi-accordion .multi-accordion-head2 a { font-size: 1em;font-family:tahoma;color:#FFFFFF; }
.multi-accordion .multi-accordion-head3 {  margin:1px 0px 1px 0px;line-height:25px; font-size:12px;;font-family:tahoma;color:#444444;background-color:#FFF9B2; solid #ffffff;}
.multi-accordion .multi-accordion-head3 a { font-size:12px; text-decoration: none }
.multi-accordion .multi-accordion-level1 { cursor: pointer; margin:1px 0px 0px 0px;line-height:25px; }
.multi-accordion .multi-accordion-level2 { cursor: pointer;margin:1px 0px 0px 0px; line-height:25px;}
.multi-accordion .multi-accordion-level3 { margin:1px 0px 1px 0px; line-height:25px;}
.multi-accordion .multi-accordion-active{line-height:25px; cursor: pointer; margin:1px 0px 1px 0px; font-size:12px;font-family:tahoma;color:#FFFFFF;background-color:#A3B2CC;solid #D06403}
.multi-accordion .multi-accordion-active3 {background-color: #FFF6E7;text-decoration: none;border: 1px outset #DE7E20;color: #000000;    font-family: tahoma; }
/*.multi-accordion .multi-accordion-icon { line-height:25px;  width: 16px; height: 16px; background-image: url('../images/menu/ui-icons_ef8c08_256x240.png'); display: block;background-repeat: no-repeat;overflow: hidden;text-indent: -99999px; left: 0.5em; margin-top: 5px; position: absolute;  }
*/
.multi-accordion .multi-accordion-icon {  line-height:25px;  width: 16px; height: 25px; display: inline;overflow: hidden;margin:0px 0px 1px 0px; padding-left:3px;  }
.multi-accordion .multi-accordion-icon-circle-arrow-e  {  background: url('../images/accord/menu_arrow.gif') no-repeat left;  }
.multi-accordion .multi-accordion-icon-circle-arrow-s  {  background: url('../images/accord/menu_arrow2.gif') no-repeat left;  }

/*css for tiptool*/
.vmsg_tips{width:200px; color:#000;font:lighter 12px Arial,sans-serif;text-decoration:none;text-align:center}
.vmsg_tips span.vmsg_tips_top{padding: 30px 8px 0; background: url(../images/tip.gif) no-repeat top}
.vmsg_tips b.vmsg_tips_bottom{padding:3px 8px 8px;color: #548912; background: url(../images/tip.gif) no-repeat bottom}
.icon_no {margin:0px auto;font-size:16px;	width:16px;	height:16px;line-height:16px;	display:inline;	background: url(../images/icon/no.png) no-repeat center; !important;}
.icon_warning {margin:0px auto;font-size:16px;	width:16px;	height:16px;line-height:16px;	display:inline;	background: url(../images/icon/warning.gif) no-repeat center; !important;}
.v_align_right{text-align:right;}
.v_align_center{text-align:center;}
div.headline {font-size:14px; line-height:30px;font-family:tahoma;font-weight:bold;background: url(../images/sub_bg.gif);}
div.headline .headarrow {display:inline;font-size:17px; width:30px;background: url(../images/headarrow.gif) no-repeat left;}

/* CSS Document */
.webdatepickercss { border-collapse: collapse;outline:1px solid; border: 2px solid #0000D0; position: absolute; }
.webdatepickercss tr.controls th { height: 22px;font-size:12px;text-align:center; background-color:  #0000D0; white-space:nowrap;}
.webdatepickercss select { font-size: 11px;}
.webdatepickercss tr.days th {border: 1px solid #FFFFFF;text-align:center;color:#FFFFFF; height: 18px; font-size:12px;background-color:#0000D0; }
.webdatepickercss tfoot td { height: 18px; text-align: center; text-transform: capitalize; }
.webdatepickercss th, .webdatepickercss tfoot td { background: #eee; font: 10px/18px Verdana, Arial, Helvetica, sans-serif; }
.webdatepickercss th span, .webdatepickercss tfoot td span { font-weight: bold; }

.webdatepickercss tbody td { width: 20px; height: 20px; border: 1px solid #ccc;  text-align: center; background: #fff; }
.webdatepickercss tbody td.date { cursor: pointer; color:#000080;}
.webdatepickercss tbody td.date.over { background-color: #99ffff; }
.webdatepickercss tbody td.date.chosen { font-weight: bold; background-color: #ccffcc; }
.webdatepickercss tbody td.othermonth {  font-size: 12px; color: #E6E6E6; }
.webdatepickercss span.nextMonth,.webdatepickercss span.prevMonth,.webdatepickercss span.nextYear,.webdatepickercss span.prevYear 
{border:1px;background-color:#6699CC;line-height:20px;font-size:12px;color:#FFFFFF;}
.webdatepickercss span.today,.webdatepickercss span.close,.webdatepickercss span.clear,.webdatepickercss span.ok 
{border:#0000D0 solid 1px; line-height:12px;padding:0 0 0 0;margin:0;background-color:#E6E6FA;font-size:12px;color:#0000D0;}
.webdatepickercss tbody td.today {font-weight: bold; background-color: #FF0000  !important; }
.webdatepickercss tbody td.td_today { vertical-align:middle; }

/**
ǩҳʽ
*/
.webtabpanel {
  border: solid 1px #8DB2E3;
}

.webtab_title_container  {
  width: 100%;
  height: 25px;
  line-height: 25px;
  background-color: #E1DFE0;
  background:transparent url(../images/webtab/webtitle_bg.gif) repeat-x;
  border-bottom: 1px solid #8DB2E3;
  padding-bottom: 3px;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}
.webtab_title_container .webtab_title_panel {  width: 0px;  overflow: hidden;}
.webtab_titles {  width: 100%;  margin: 0;  padding: 0;  position: relative;}

.webtab_titles li {
  background: transparent url(../images/webtab/webtabbg.gif) repeat-x;
  margin-top: 2px;  height: 22px;  line-height: 22px;
  border: solid 1px #8DB2E3;  margin-left: 3px;
  background-color: #EFEFEF;  float: left;
  position: relative;  list-style-type: none;  cursor: pointer;
}
.webtab_titles li .webtab_title {
  font-size: 12px;  padding-left: 5px;  overflow: hidden;  float: left;  *height: 20px;  *line-height: 20px;  *margin-top: 2px;
}
.webtab_titles li div {  color: #23508E;}
.webtab_titles li.active {
  background: transparent url(../images/webtab/webtab_active.gif) repeat-x;  border-bottom: solid 1px #DEECFD;  background-color: #DDEEFE;  font-weight: bold;
}
.webtab_title_container .webtab_spacer {border-top: 1px solid #8DB2E3; height: 2px; background: #DEECFD; font-size: 1px; line-height: 1px; margin-top: -1px;
 
}
.webtab_acontent {background-color: #FFF; overflow: auto; position: relative;}
.webtab_acontent .webtab_content { width: 100%; height: 100%; background-color:#FFF;}
/**
ʽ
*/
.webdialog{	 
    background: url("../images/dlg/panel_title.png") repeat scroll 0 0 transparent;
    border: 1px solid #99BBE8;
    border-radius: 5px 5px 5px 5px;
    font-size: 12px;
    overflow: hidden;
    padding: 5px;
    position: absolute;
}
.webdialog .header{
		color: #15428B;
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
    position: relative;
    border-bottom: 1px solid #99BBE8;
    padding: 2px 0 4px;
    background: none repeat scroll 0 0 transparent;

}
.webdialog .header .title {
    background: url("../images/webtab/webtabbg.gif") no-repeat scroll 0 0 transparent;
    white-space:nowrap;
}
.webdialog_tools {
    position: absolute;
    right: 1px;
    top: 0;
}

.webdialog_tools a{  display: inline-block;   height: 16px;   margin-left: 2px;   opacity: 0.6;    width: 16px;}
.webdialog_tools a:hover {   opacity: 1;}
.webdialog_tools .closer {    background: url("../images/dlg/panel_tools.gif") no-repeat scroll -16px 0 transparent;
    margin-right:5px;
}
.webdialog_body{
 		-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #99BBE8;
    border-image: none;
    border-right: 1px solid #99BBE8;
    border-style: solid;
    border-width: 0 1px 1px;
    font-size: 12px;
    overflow: hidden;
	padding:2px;
    position: relative !important;
 
} 
.webdialog_buttons {
	width: 100%;
 	height:25px;
	background: none repeat scroll 0 0 #FAFAFA;
    border-top: 1px solid #EEEEEE;
    padding: 2px;
	left;0;bottom:0;
    position: absolute;
    text-align: center;
    white-space:nowrap;
}
.webdialog_message {
	height 100%;
	background: none repeat scroll 0 0 #FAFAFA;
	font-size: 15px;
    padding: 10px;
    text-align: center;
    overflow: hidden;
}
/*********************************************************************/
/*********************************************************************/

/*********************************************************************/
/*********************************************************************/


.webtree {padding:0; margin:0; font-size:12px;}
.webtree ul { background-color: white;}
.webtree li ul{ margin:0; padding:0 0 0 18px;}
.webtree li ul.nolast{ background:url("../images/webtree/line1.gif") 0 0 repeat-y;}
.webtree li {padding:0; margin:0; list-style:none; line-height:14px; text-align:left; white-space:nowrap; outline:0}
.webtree div.hitbtn {
	line-height:0; margin:0; width:18px; height:18px; 
	display: inline-block ;
	vertical-align:middle;
	border:0 none; cursor: pointer;outline:none;
	background-image: url("../images/webtree/tree_icon.png"); 
} 
.webtree  div.nodeitem span.icondiv {line-height:0; margin:0; width:18px; height:18px; display: inline-block; vertical-align:middle;
	border:0 none; cursor: pointer;outline:none;background-color:transparent; background-repeat:no-repeat; background-attachment: scroll;
	background-image:url("../images/webtree/tree_icon.png"); *background-image:url("../images/webtree/tree_icon.gif")
}
.webtree  div.nodeitem span.icondiv1{	background-image:url("../images/webtree/info_icon.png")!important;}
.webtree  div.nodeitem span.icondiv1.icon_0 {background-position: -0px -0px; width: 18px; height: 18px; }
.webtree  div.nodeitem span.icondiv1.icon_1 {background-position: -20px -0px; width: 18px; height: 18px; }
.webtree  div.nodeitem span.icondiv1.icon_2 {background-position: -40px -0px; width: 18px; height: 18px; }
.webtree  div.nodeitem span.icondiv1.icon_3 {background-position: -60px -0px; width: 18px; height: 18px; }
.webtree  div.nodeitem span.icondiv1.icon_4 {background-position: -80px -0px; width: 18px; height: 18px; }

.webtree div.nodeitem  {line-height:16px;padding:1px 3px 0 0; margin:0; cursor:pointer; height:16px; color:#333; background-color: transparent;
	 text-decoration:none; vertical-align:top; display: inline-block}
.webtree li span.selbtn {line-height:0; margin:0; width:16px; height:16px; display: inline-block; vertical-align:middle;
	border:0 none; cursor: pointer;outline:none;background-image: url("../images/webtree/tree_icon.png");  margin:0 1px 0 0; cursor: auto}
.webtree li span.selbtn.checkbox0 {background-position: -135px -20px; width: 16px; height: 16px;}
.webtree li span.selbtn.checkbox1 {background-position: -95px -20px; width: 16px; height: 16px; }
.webtree li span.selbtn.checkbox2 {background-position: -115px -20px; width: 16px; height: 16px;}
.webtree li span.selbtn.radio0 {background-position: -175px -20px; width: 16px; height: 16px;}
.webtree li span.selbtn.radio1 {background-position: -155px -20px; width: 16px; height: 16px; }
.webtree div.nodeitem a {
	height: 17px;
	line-height:17px;
}
.webtree li div.nodeitem.selected {padding-top:0px; background-color:#FFE6B0; color:black; height:16px;	line-height:16px; border:1px #FFB951 solid; opacity:0.8;}
.webtree .minusf { background-position: -18px -0px; width: 18px; height: 18px; }
.webtree .minusm { background-position: -0px -0px; width: 18px; height: 18px; }
.webtree .minusl {background-position: -54px -0px; width: 18px; height: 18px; }
.webtree .minus { background-position: -36px -0px; width: 18px; height: 18px; }
.webtree .plusf {background-position: -72px -0px; width: 18px; height: 18px;}
.webtree .plusm {background-position: -126px -0px; width: 18px; height: 18px; }
.webtree .plusl { background-position: -108px -0px; width: 18px; height: 18px; }
.webtree .plus {background-position: -90px -0px; width: 18px; height: 18px; }
.webtree .linem {background-position: -144px -0px; width: 18px; height: 18px;}
.webtree .linel { background-position: -180px -0px; width: 18px; height: 18px;}
.webtree .branch-o {background-position: -20px -20px; width: 18px; height: 18px; }
.webtree .branch-c { background-position: -0px -20px; width: 18px; height: 18px; }
.webtree .leaficon1 { background-position: -40px -20px; width: 18px; height: 18px;}
.webtree .leaficon2 {background-position: -60px -20px; width: 18px; height: 18px; }


