<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.indihx.PmCustomerInfo.dao.PmCustomerInfoMapper">

	<!-- 可根据自己的需求，是否要使用 -->
	<resultMap
		type="com.indihx.PmCustomerInfo.entity.PmCustomerInfoEntity"
		id="pmCustomerInfoMap">
		<result property="custId" column="CUST_ID" />
		<result property="custCnName" column="CUST_CN_NAME" />
		<result property="custCode" column="CUST_CODE" />
		<result property="country" column="COUNTRY" />
		<result property="sapCode" column="SAP_CODE" />
		<result property="enName" column="EN_NAME" />
		<result property="custPatTaxesCode"
			column="CUST_PAT_TAXES_CODE" />
		<result property="custType" column="CUST_TYPE" />
		<result property="address" column="ADDRESS" />
		<result property="cashManagementGroup"
			column="CASH_MANAGEMENT_GROUP" />
		<result property="payCondition" column="PAY_CONDITION" />
		<result property="tradeCode" column="TRADE_CODE" />
		<result property="regionalMarket" column="REGIONAL_MARKET" />
		<result property="mainBusiness" column="MAIN_BUSINESS" />
		<result property="area" column="AREA" />
		<result property="custTrade" column="CUST_TRADE" />
		<result property="payCycle" column="PAY_CYCLE" />
		<result property="isUseful" column="IS_USEFUL" />
		<result property="groupCompany" column="GROUP_COMPANY" />
		<result property="bgVisiable" column="BG_VISIABLE" />
		<result property="companyCode" column="COMPANY_CODE" />
		<result property="companyFuncCode" column="COMPANY_FUNC_CODE" />
		<result property="createTime" column="CREATE_TIME" />
		<result property="addUserId" column="ADD_USER_ID" />
		<result property="addTime" column="ADD_TIME" />
		<result property="modifier" column="MODIFIER" />
		<result property="modifyTime" column="MODIFY_TIME" />
		<result property="isDelete" column="IS_DELETE" />
	</resultMap>

	<select id="queryObject" resultMap="pmCustomerInfoMap">
		select * from
		PM_CUSTOMER_INFO where CUST_ID = #{value}
	</select>

	<select id="queryBySapCode" resultMap="pmCustomerInfoMap">
		select * from
		PM_CUSTOMER_INFO where SAP_CODE = #{value}
	</select>

	<select id="queryList" resultMap="pmCustomerInfoMap">
		select
		*
		from pm_customer_info
		<trim prefix="WHERE" prefixOverrides="AND|OR" suffixOverrides="AND|OR">
			<if test="custId != null and   custId!=''">
				CUST_ID = #{custId} AND
			</if>
			<if test="custCnName != null  and custCnName!=''">
				CUST_CN_NAME like concat(concat('%',#{custCnName}),'%') AND
			</if>
			<if test="custCode != null and custCode!=''">
				CUST_CODE = #{custCode} AND
			</if>
			<if test="country != null and country!=''">
				COUNTRY = #{country} AND
			</if>
			<if test="sapCode != null  and sapCode!=''">
				SAP_CODE  like concat(concat('%',#{sapCode}),'%')  AND
			</if>
			<if test="enName != null  and enName!=''">
				EN_NAME = #{enName} AND
			</if>
			<if test="custPatTaxesCode != null and custPatTaxesCode!=''">
				CUST_PAT_TAXES_CODE = #{custPatTaxesCode} AND
			</if>
			<if test="custType != null  and custType!=''">
				CUST_TYPE = #{custType} AND
			</if>
			<if test="address != null  and address!=''">
				ADDRESS = #{address} AND
			</if>
			<if test="cashManagementGroup != null and cashManagementGroup!=''">
				CASH_MANAGEMENT_GROUP = #{cashManagementGroup} AND
			</if>
			<if test="payCondition != null  and payCondition!=''">
				PAY_CONDITION = #{payCondition} AND
			</if>
			<if test="tradeCode != null  and tradeCode!=''">
				TRADE_CODE = #{tradeCode} AND
			</if>
			<if test="regionalMarket != null  and regionalMarket!=''">
				REGIONAL_MARKET = #{regionalMarket} AND
			</if>
			<if test="mainBusiness != null  and mainBusiness!=''">
				MAIN_BUSINESS = #{mainBusiness} AND
			</if>
			<if test="area != null  and area!=''">
				AREA = #{area} AND
			</if>
			<if test="custTrade != null  and custTrade!=''">
				CUST_TRADE = #{custTrade} AND
			</if>
			<if test="payCycle != null  and payCycle!=''">
				PAY_CYCLE = #{payCycle} AND
			</if>
			<if test="isUseful != null  and isUseful!=''">
				IS_USEFUL = #{isUseful} AND
			</if>
			<if test="groupCompany != null  and groupCompany!=''">
				GROUP_COMPANY = #{groupCompany} AND
			</if>
			<if test="bgVisiable != null  and bgVisiable!=''">
				BG_VISIABLE = #{bgVisiable} AND
			</if>
			<if test="companyCode != null  and companyCode!=''">
				COMPANY_CODE  like concat(concat('%',#{companyCode}),'%') AND
			</if>
			<if test="companyFuncCode != null and companyFuncCode!=''">
				COMPANY_FUNC_CODE = #{companyFuncCode} AND
			</if>
			<!-- 开始时间 -->
			<if test="createTimeStart != null and createTimeStart!=''">
				CREATE_TIME <![CDATA[>=]]> #{createTimeStart} AND
			</if>
			<!-- 结束时间 -->
			<if test="createTimeEnd != null  and createTimeEnd!=''">
				CREATE_TIME <![CDATA[<=]]> #{createTimeEnd} AND
			</if>
			
			<if test="addUserId != null and addUserId!=''">
				ADD_USER_ID = #{addUserId} AND
			</if>
			<if test="addTime != null and addTime!=''">
				ADD_TIME = #{addTime} AND
			</if>
			<if test="modifier != null and modifier!=''">
				MODIFIER = #{modifier} AND
			</if>
			<!-- 开始时间 -->
			<if test="modifyTimeStart != null  and modifyTime!=''">
				MODIFY_TIME <![CDATA[>=]]> #{modifyTimeStart} AND
			</if>
			<!-- 结束时间 -->
			<if test="modifyTimeEnd != null  and modifyTimeEnd !=''">
				MODIFY_TIME <![CDATA[<=]]> #{modifyTimeEnd} AND
			</if>
			<if test="isDelete != null  and isDelete!=''">
				IS_DELETE = '00'
			</if>
		</trim>
	</select>

	<select id="queryTotal" resultType="int">
		select count(*) from
		PM_CUSTOMER_INFO
	</select>

	<insert id="insert"  useGeneratedKeys="true"  keyProperty="custId"  keyColumn="CUST_ID"
		parameterType="com.indihx.PmCustomerInfo.entity.PmCustomerInfoEntity">
		insert into PM_CUSTOMER_INFO
		(
		CUST_ID
		<if test="custCnName != null and  custCnName !=''">
			,CUST_CN_NAME
		</if>
		<if test="custCode != null and  custCode !=''">
			,CUST_CODE
		</if>
		<if test="country != null and country !=''">
			,COUNTRY
		</if>
		<if test="sapCode != null and  sapCode !=''">
			,SAP_CODE
		</if>
		<if test="enName != null and   enName !=''">
			,EN_NAME
		</if>
		<if test="custPatTaxesCode != null and  custPatTaxesCode !=''">
			,CUST_PAT_TAXES_CODE
		</if>
		<if test="custType != null and custType  !=''">
			,CUST_TYPE
		</if>
		<if test="address != null and  address !=''">
			,ADDRESS
		</if>
		<if test="cashManagementGroup != null and  cashManagementGroup !=''">
			,CASH_MANAGEMENT_GROUP
		</if>
		<if test="payCondition != null and  payCondition !=''">
			,PAY_CONDITION
		</if>
		<if test="tradeCode != null and tradeCode  !=''">
			,TRADE_CODE
		</if>
		<if test="regionalMarket != null and  regionalMarket !=''">
			,REGIONAL_MARKET
		</if>
		<if test="mainBusiness != null and  mainBusiness !=''">
			,MAIN_BUSINESS
		</if>
		<if test="area != null and  area !=''">
			,AREA
		</if>
		<if test="custTrade != null and custTrade  !=''">
			,CUST_TRADE
		</if>
		<if test="payCycle != null and  payCycle !=''">
			,PAY_CYCLE
		</if>
		<if test="isUseful != null and  isUseful !=''">
			,IS_USEFUL
		</if>
		<if test="groupCompany != null and  groupCompany !=''">
			,GROUP_COMPANY
		</if>
		<if test="bgVisiable != null and  bgVisiable !=''">
			,BG_VISIABLE
		</if>
		<if test="companyCode != null and  companyCode !=''">
			,COMPANY_CODE
		</if>
		<if test="companyFuncCode != null and  companyFuncCode !=''">
			,COMPANY_FUNC_CODE
		</if>
		<if test="createTime != null and  createTime !=''">
			,CREATE_TIME
		</if>
		<if test="addUserId != null and  addUserId !=''">
			,ADD_USER_ID
		</if>
		<if test="addTime != null and addTime  !=''">
			,ADD_TIME
		</if>
		<if test="modifier != null and  modifier !=''">
			,MODIFIER
		</if>
		<if test="modifyTime != null and  modifyTime !=''">
			,MODIFY_TIME
		</if>
			,IS_DELETE
		)
		values
		(
		PmCustomerInfo_SEQ.nextval
		<if test="custCnName != null and  custCnName !=''">
			,#{custCnName}
		</if>
		<if test="custCode != null and custCode  !=''">
			,#{custCode}
		</if>
		<if test="country != null and  country !=''">
			,#{country}
		</if>
		<if test="sapCode != null and sapCode  !=''">
			,#{sapCode}
		</if>
		<if test="enName != null and enName  !=''">
			,#{enName}
		</if>
		<if test="custPatTaxesCode != null and custPatTaxesCode  !=''">
			,#{custPatTaxesCode}
		</if>
		<if test="custType != null and  custType !=''">
			,#{custType}
		</if>
		<if test="address != null and address  !=''">
			,#{address}
		</if>
		<if test="cashManagementGroup != null and  cashManagementGroup !=''">
			,#{cashManagementGroup}
		</if>
		<if test="payCondition != null and  payCondition !=''">
			,#{payCondition}
		</if>
		<if test="tradeCode != null and  tradeCode !=''">
			,#{tradeCode}
		</if>
		<if test="regionalMarket != null and  regionalMarket !=''">
			,#{regionalMarket}
		</if>
		<if test="mainBusiness != null and  mainBusiness !=''">
			,#{mainBusiness}
		</if>
		<if test="area != null and area  !=''">
			,#{area}
		</if>
		<if test="custTrade != null and  custTrade !=''">
			,#{custTrade}
		</if>
		<if test="payCycle != null and  payCycle !=''">
			,#{payCycle}
		</if>
		<if test="isUseful != null and  isUseful !=''">
			,#{isUseful}
		</if>
		<if test="groupCompany != null and  groupCompany !=''">
			,#{groupCompany}
		</if>
		<if test="bgVisiable != null and  bgVisiable !=''">
			,#{bgVisiable}
		</if>
		<if test="companyCode != null and  companyCode !=''">
			,#{companyCode}
		</if>
		<if test="companyFuncCode != null and  companyFuncCode !=''">
			,#{companyFuncCode}
		</if>
		<if test="createTime != null and createTime  !=''">
			,#{createTime}
		</if>
		<if test="addUserId != null and  addUserId !=''">
			,#{addUserId}
		</if>
		<if test="addTime != null and  addTime !=''">
			,#{addTime}
		</if>
		<if test="modifier != null and  modifier !=''">
			,#{modifier}
		</if>
		<if test="modifyTime != null and modifyTime  !=''">
			,#{modifyTime}
		</if>
			,'00'
		)
	</insert>

	<update id="update"
		parameterType="com.indihx.PmCustomerInfo.entity.PmCustomerInfoEntity">
		update PM_CUSTOMER_INFO
		<set>
			<if test="custCnName != null and  custCnName !=''">CUST_CN_NAME = #{custCnName}, </if>
			<if test="custCode != null and  custCode !=''">CUST_CODE = #{custCode}, </if>
			<if test="country != null and  country !=''">COUNTRY = #{country}, </if>
			<if test="sapCode != null and sapCode  !=''">SAP_CODE = #{sapCode}, </if>
			<if test="enName != null and enName  !=''">EN_NAME = #{enName}, </if>
			<if test="custPatTaxesCode != null and custPatTaxesCode  !=''">CUST_PAT_TAXES_CODE = #{custPatTaxesCode}, </if>
			<if test="custType != null and  custType !=''">CUST_TYPE = #{custType}, </if>
			<if test="address != null and address  !=''">ADDRESS = #{address}, </if>
			<if test="cashManagementGroup != null and  cashManagementGroup !=''">CASH_MANAGEMENT_GROUP = #{cashManagementGroup}, </if>
			<if test="payCondition != null and  payCondition !=''">PAY_CONDITION = #{payCondition}, </if>
			<if test="tradeCode != null and  tradeCode !=''">TRADE_CODE = #{tradeCode}, </if>
			<if test="regionalMarket != null and  regionalMarket !=''">REGIONAL_MARKET = #{regionalMarket}, </if>
			<if test="mainBusiness != null and mainBusiness  !=''">MAIN_BUSINESS = #{mainBusiness}, </if>
			<if test="area != null and area  !=''">AREA = #{area}, </if>
			<if test="custTrade != null and  custTrade !=''">CUST_TRADE = #{custTrade}, </if>
			<if test="payCycle != null and  payCycle !=''">PAY_CYCLE = #{payCycle}, </if>
			<if test="isUseful != null and isUseful  !=''">IS_USEFUL = #{isUseful}, </if>
			<if test="groupCompany != null and  groupCompany !=''">GROUP_COMPANY = #{groupCompany}, </if>
			<if test="bgVisiable != null and bgVisiable  !=''">BG_VISIABLE = #{bgVisiable}, </if>
			<if test="companyCode != null and  companyCode !=''">COMPANY_CODE = #{companyCode}, </if>
			<if test="companyFuncCode != null and companyFuncCode  !=''">COMPANY_FUNC_CODE = #{companyFuncCode}, </if>
			<if test="createTime != null and  createTime !=''">CREATE_TIME = #{createTime}, </if>
			<if test="addUserId != null and addUserId  !=''">ADD_USER_ID = #{addUserId}, </if>
			<if test="addTime != null and  addTime !=''">ADD_TIME = #{addTime}, </if>
			<if test="modifier != null and  modifier !=''">MODIFIER = #{modifier}, </if>
			<if test="modifyTime != null and  modifyTime !=''">MODIFY_TIME = #{modifyTime}, </if>
			<if test="isDelete != null and isDelete  !=''">IS_DELETE = #{isDelete}</if>
		</set>
		where CUST_ID = #{custId}
	</update>

	<delete id="delete">
		delete from PM_CUSTOMER_INFO where CUST_ID = #{value}
	</delete>



</mapper>