<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.indihx.PmCustomerInfo.dao.PmCustomerGroupRelationMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.indihx.PmCustomerInfo.entity.PmCustomerGroupRelationEntity" id="pmCustomerGroupRelationMap">
        <result property="custGroupRelationId" column="CUST_GROUP_RELATION_ID"/>
        <result property="custGroupId" column="CUST_GROUP_ID"/>
        <result property="custId" column="CUST_ID"/>
        <result property="custCnName" column="CUST_CN_NAME"/>
        <result property="sapCode" column="SAP_CODE"/>
    </resultMap>

	<select id="queryObject"  resultMap="pmCustomerGroupRelationMap">
		select * from pm_customer_group_relation where CUST_GROUP_RELATION_ID = #{value}
	</select>

	<select id="queryList" resultMap="pmCustomerGroupRelationMap">
		select 
		*
		 from pm_customer_group_relation
			 <trim prefix="WHERE" prefixOverrides="AND|OR" suffixOverrides="AND|OR">
				<if test="custGroupRelationId != null and  custGroupRelationId !=''">CUST_GROUP_RELATION_ID = #{custGroupRelationId} AND </if>
				<if test="custGroupId != null and custGroupId  !=''">CUST_GROUP_ID = #{custGroupId} AND </if>
				<if test="custId != null and custId  !=''">CUST_ID = #{custId} AND </if>
				<if test="custCnName != null and custCnName  !=''">CUST_CN_NAME = #{custCnName} AND </if>
				<if test="sapCode != null and sapCode  !=''">SAP_CODE = #{sapCode}</if>
			</trim> 
	</select>
	
 	<select id="queryTotal" resultType="int">
		select count(*) from pm_customer_group_relation 
	</select>
	 
	<insert id="insert" parameterType="com.indihx.PmCustomerInfo.entity.PmCustomerGroupRelationEntity">
		insert into pm_customer_group_relation
		(
		CUST_GROUP_RELATION_ID
		<if test="custGroupId != null and  custGroupId !=''">
			,CUST_GROUP_ID	
		</if>
		<if test="custId != null and  custId !=''">
			,CUST_ID	
		</if>
		<if test="custCnName != null and  custCnName !=''">
			,CUST_CN_NAME	
		</if>
		<if test="sapCode != null and  sapCode !=''">
			,SAP_CODE	
		</if>
		)
		values
		(
		PmCustomerGroupRelation_SEQ.nextval
		<if test="custGroupId != null and  custGroupId !=''">
			,#{custGroupId}	</if>
		<if test="custId != null and  custId !=''">
			,#{custId}</if>
		<if test="custCnName != null and custCnName  !=''">
			,#{custCnName} 		</if>
		<if test="sapCode != null and  sapCode !=''">
			,#{sapCode}		</if>
		)
	</insert>
	 
	<update id="update" parameterType="com.indihx.PmCustomerInfo.entity.PmCustomerGroupRelationEntity">
		update pm_customer_group_relation 
		<set>
			<if test="custGroupId != null and  custGroupId !=''">CUST_GROUP_ID = #{custGroupId}, </if>
			<if test="custId != null and custId  !=''">CUST_ID = #{custId}, </if>
			<if test="custCnName != null and  custCnName !=''">CUST_CN_NAME = #{custCnName}, </if>
			<if test="sapCode != null and  sapCode !=''">SAP_CODE = #{sapCode}</if>
		</set>
		where CUST_GROUP_RELATION_ID = #{custGroupRelationId}
	</update>

	<update id="updateByCustId" parameterType="com.indihx.PmCustomerInfo.entity.PmCustomerGroupRelationEntity">
		update pm_customer_group_relation
		<set>
			<if test="custGroupId != null and  custGroupId !=''">CUST_GROUP_ID = #{custGroupId}, </if>
			<if test="custCnName != null and  custCnName !=''">CUST_CN_NAME = #{custCnName}, </if>
			<if test="sapCode != null and  sapCode !=''">SAP_CODE = #{sapCode}</if>
		</set>
		where CUST_ID = #{custId}
	</update>
	
	<delete id="delete">
		delete from pm_customer_group_relation where CUST_GROUP_RELATION_ID = #{value}
	</delete>
	<delete id="deleteByGroupId">
		delete from pm_customer_group_relation where CUST_GROUP_ID = #{value}
	</delete>


</mapper>