<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.indihx.PmCustomerInfo.dao.PmCustomerGroupMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.indihx.PmCustomerInfo.entity.PmCustomerGroupEntity" id="pmCustomerGroupMap">
        <result property="custGroupId" column="CUST_GROUP_ID"/>
        <result property="custGroupName" column="CUST_GROUP_NAME"/>
        <result property="creator" column="CREATOR"/>
        <result property="creatorId" column="CREATOR_ID"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="modifier" column="MODIFIER"/>
        <result property="modifyTime" column="MODIFY_TIME"/>
        <result property="isDelete" column="IS_DELETE"/>
    </resultMap>

	<select id="queryObject" resultType="com.indihx.PmCustomerInfo.entity.PmCustomerGroupEntity">
		select * from pm_customer_group where CUST_GROUP_ID = #{value}
	</select>

	<select id="queryList" resultMap="pmCustomerGroupMap">
		select 
		
		*
		 from pm_customer_group
		 <trim prefix="WHERE" prefixOverrides="AND|OR" suffixOverrides="AND|OR">
						<if test="custGroupId != null">CUST_GROUP_ID = #{custGroupId} AND </if>
						<if test="custGroupName != null">CUST_GROUP_NAME = #{custGroupName} AND </if>
						<if test="creator != null">CREATOR = #{creator} AND </if>
						<if test="creatorId != null">CREATOR_ID = #{creatorId} AND </if>
						<if test="createTime != null">CREATE_TIME = #{createTime} AND </if>
						<if test="modifier != null">MODIFIER = #{modifier} AND </if>
						<if test="modifyTime != null">MODIFY_TIME = #{modifyTime} AND </if>
						<if test="isDelete != null">IS_DELETE = #{isDelete}</if>
					</trim> 
	</select>
	
 	<select id="queryTotal" resultType="int">
		select count(*) from pm_customer_group 
	</select>
	 
	<insert id="insert" parameterType="com.indihx.PmCustomerInfo.entity.PmCustomerGroupEntity">
		insert into pm_customer_group
		(
		<if test="custGroupId != null">
			CUST_GROUP_ID	
		</if>
		<if test="custGroupName != null">
			,CUST_GROUP_NAME	
		</if>
		<if test="creator != null">
			,CREATOR	
		</if>
		<if test="creatorId != null">
			,CREATOR_ID	
		</if>
		<if test="createTime != null">
			,CREATE_TIME	
		</if>
		<if test="modifier != null">
			,MODIFIER	
		</if>
		<if test="modifyTime != null">
			,MODIFY_TIME	
		</if>
		<if test="isDelete != null">
			,IS_DELETE	
		</if>
		)
		values
		(
		<if test="custGroupId != null">
			#{custGroupId}		</if>
		<if test="custGroupName != null">
			,#{custGroupName}	</if>
		<if test="creator != null">
			,#{creator} 		</if>
		<if test="creatorId != null">
			,#{creatorId} 		</if>
		<if test="createTime != null">
			,#{createTime} 		</if>
		<if test="modifier != null">
			,#{modifier} 		</if>
		<if test="modifyTime != null">
			,#{modifyTime} 		</if>
		<if test="isDelete != null">
			,#{isDelete}		</if>
		)
	</insert>
	 
	<update id="update" parameterType="com.indihx.PmCustomerInfo.entity.PmCustomerGroupEntity">
		update pm_customer_group 
		<set>
			<if test="custGroupName != null">CUST_GROUP_NAME = #{custGroupName}, </if>
			<if test="creator != null">CREATOR = #{creator}, </if>
			<if test="creatorId != null">CREATOR_ID = #{creatorId}, </if>
			<if test="createTime != null">CREATE_TIME = #{createTime}, </if>
			<if test="modifier != null">MODIFIER = #{modifier}, </if>
			<if test="modifyTime != null">MODIFY_TIME = #{modifyTime}, </if>
			<if test="isDelete != null">IS_DELETE = #{isDelete}</if>
		</set>
		where CUST_GROUP_ID = #{custGroupId}
	</update>
	
	<delete id="delete">
		delete from pm_customer_group where CUST_GROUP_ID = #{value}
	</delete>
	


</mapper>