<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.indihx.PmContractProjectRelation.dao.PmContractProjectRelationMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.indihx.PmContractProjectRelation.entity.PmContractProjectRelationEntity" id="pmContractProjectRelationMap">
        <result property="contractProjectRelationId" column="CONTRACT_PROJECT_RELATION_ID"/>
        <result property="contractId" column="CONTRACT_ID"/>
        <result property="wbs" column="WBS"/>
        <result property="projectId" column="PROJECT_ID"/>
        <result property="projectName" column="PROJECT_NAME"/>
    </resultMap>

	<select id="queryObject" resultMap="pmContractProjectRelationMap">
		select * from PM_CONTRACT_PROJECT_RELATION where CONTRACT_PROJECT_RELATION_ID = #{value}
	</select>

	<select id="queryList" resultMap="pmContractProjectRelationMap">
		select 
		*
		 from PM_CONTRACT_PROJECT_RELATION
		 <trim prefix="WHERE" prefixOverrides="AND|OR" suffixOverrides="AND|OR">
						<if test="contractProjectRelationId != null and contractProjectRelationId!=''"  >
				CONTRACT_PROJECT_RELATION_ID = #{contractProjectRelationId} AND 			</if>
						<if test="contractId != null and contractId!=''"  >
				CONTRACT_ID = #{contractId} AND 			</if>
						<if test="wbs != null and wbs!=''"  >
				WBS = #{wbs} AND 			</if>
						<if test="projectId != null and projectId!=''"  >
				PROJECT_ID = #{projectId}			</if>
					</trim> 
	</select>

	<select id="queryListProject" resultMap="pmContractProjectRelationMap">
		SELECT
		A.*,B.PROJECT_NAME
		FROM
		PM_CONTRACT_PROJECT_RELATION A,
		PM_PROJECT_INFO B
		WHERE
		A .PROJECT_ID = B.PROJECT_ID
		AND		CONTRACT_ID = #{contractId}
	</select>
	
 	<select id="queryTotal" resultType="int">
		select count(*) from PM_CONTRACT_PROJECT_RELATION 
	</select>
	 
	<insert id="insert" parameterType="com.indihx.PmContractProjectRelation.entity.PmContractProjectRelationEntity">
		insert into PM_CONTRACT_PROJECT_RELATION
		(
		CONTRACT_PROJECT_RELATION_ID
			<if test="contractId != null and contractId!=''">
				,CONTRACT_ID	
			</if>
		
			<if test="wbs != null and wbs!=''">
				,WBS	
			</if>
		
			<if test="projectId != null and projectId!=''">
				,PROJECT_ID	
			</if>
		
		)
		values
		(
		PmContractProjectRelation_SEQ.nextval
		<if test="contractId != null and contractId!=''">
			,#{contractId}
		</if>
		<if test="wbs != null and wbs!=''">
			,#{wbs}
		</if>
		<if test="projectId != null and projectId!=''">
			,#{projectId}
		</if>
		)
	</insert>
	 
	<update id="update" parameterType="com.indihx.PmContractProjectRelation.entity.PmContractProjectRelationEntity">
		update PM_CONTRACT_PROJECT_RELATION 
		<set>
			<if test="contractId != null and contractId!=''">CONTRACT_ID = #{contractId}, </if>

			<if test="wbs != null and wbs!=''">WBS = #{wbs}, </if>

			<if test="projectId != null and projectId!=''">PROJECT_ID = #{projectId}</if>

		</set>
		where CONTRACT_PROJECT_RELATION_ID = #{contractProjectRelationId}
	</update>
	
	<delete id="delete">
		delete from PM_CONTRACT_PROJECT_RELATION where CONTRACT_PROJECT_RELATION_ID = #{value}
	</delete>

	<delete id="deleteByContractId">
		delete from PM_CONTRACT_PROJECT_RELATION where CONTRACT_ID = #{value}
	</delete>
	


</mapper>